/******************************
************ RESET ************
*******************************/

html, body, div {
	padding:0;
	margin:0;
}

h1, h2, h3, p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

ul {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}


/*****************************
********* TYPOGRAPHY *********
*****************************/

html {
	font-size: 12px;
}

h1 {
	margin-top:-150px!important;
}
.theanswer {
	font-family: $font__headings;
	font-size: 1.2rem;
}
.rnb {
	font-family: $font__main;
	font-size:7rem;
	line-height:7rem;
	display:block;
	text-align:center;
	color:$color__theme--1;
	text-shadow: 7px 7px 0 $color__text--paragraph;
}


h2, h3, h4, h5, h6 {
	font-family:$font__headings;
}
p {
	font-family: $font__main;
}
a {
	text-decoration: none;
    color: inherit;
}

small {
	font-family:$font__headings;
	font-size:.8rem;
	font-style:italic;
	font-weight: 400i;
	text-transform: uppercase;
}

input {
	color:$color__text--paragraph;
	font-family:$font__headings;
	letter-spacing: 2px;
}

.intro {
	font-size: 1.5rem;
	line-height: 2.1rem;
}


/*********************************
******** INPUTS / BUTTONS ********
**********************************/

input[type="text"] {
	border:0;
	outline:0;
	padding:1em 0 1.2em;
	margin:40px auto;
	font-size:1rem;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: width 1s, background-color 0.3s;
	-moz-transition: width 1s, background-color 0.3s;
	-o-transition: width 1s, background-color 0.3s;
    transition: width 1s background-color 0.3s;
	background-color: $color__theme--2;
	width:50%;
	cursor:pointer;
	&:hover {
		width:54%;
		transition: width .2s;
	}
}

input[type="text"]::-webkit-input-placeholder {
	color:$color__text--paragraph;
	text-transform: uppercase;
	font-size: .8rem;
}

input[type="text"]:focus {
	width:100%;
	background-color: $color__theme--1;
	-webkit-transition: width 1s background-color 0.3s;
	-moz-transition: width 1s background-color 0.3s;
	-o-transition: width 1s background-color 0.3s;
    transition: width 1s background-color 0.3s;
}

.active {
	width:100%!important;
	background-color: $color__theme--1!important;
}


/******************************************
********* LAYOUT / GENERAL STYLES *********
*******************************************/

html {
	height:100%;
	width:100%;
	background:$color__theme--2;
}

body {
	width: 100%;
	height: 100%;
	color:$color__text--paragraph;
	font-family: $font__main;
	margin:0;
	letter-spacing: 1px;
	text-align: center;
	background: url(../images/satin-bg-mobile.png);
	background-size:100% 100%;
}

div {
	box-sizing: border-box;
}

.container, .output{
	margin: 80px auto;
	width: 100%;
	max-width:420px;
}

.container {
	padding:2em;
	background: #fff;
	color:$color__text--paragraph;
	box-shadow: $boxshadow__large;
}

.output {
	@include flex();
	@include content_center();
	@include items_center();
	
	&>div:not(.loader) {
		background: $color__theme--1;
		box-shadow: $boxshadow__large;
		padding: 0 0 4rem;
		word-wrap: break-word;
	}
	p {
		font-family: $font__headings;
	}
	.answer {
		color: rgba(0,0,0,.5);
		text-transform: uppercase;
		font-style: normal;
	}
	.track {
		font-size: 2.5rem;
		font-style: italic;
		margin: 1rem auto 1.5rem;
	}
	.artist {
		font-size: 1rem;
	}
	.image-container {
		padding: 2rem;
		margin-top: -4rem;
		display: inline-block;
		img {
			box-shadow:$boxshadow__small;
			margin: 0 2rem;
		}
		.play-button {
			border-radius: 50%;
			width:60px;
			height:60px;
			background: $color__theme--1;
			color:#fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow:$boxshadow__small;
			@include flex();
			@include content_center();
			@include items_center();
			transition: width .2s, height .2s;
			&:hover {
				width:64px;
				height:64px;
				transition: width .2s, height .2s;
			}
			svg {
				width: 30%;
    			height: 50%;
				margin-right:-3px;
			}
		}
	}
}

.alert {
	padding:2rem;
	box-shadow:$boxshadow__small;
	background: $color__theme--1;
}


/*****************************
*********** LOADER ***********
*****************************/

.loader {
	border: 12px solid #fff;
    border-top: 12px solid $color__theme--1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 1;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*****************************
********* ANIMATIONS *********
*****************************/

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-30px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-30px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


@keyframes zoom {
  0%   { background-size: 100% 100%; }
  50% { background-size: 105% 105%; }
  100% { background-size: 100% 100%; }
}
body {
	animation: zoom 17s ease infinite;
}
