
$color__text--paragraph: rgba(0,0,0,.8);
$color__theme--1: #facfe9; //pink
$color__theme--2: #bdd9fc; //blue

$boxshadow__small: 10px 10px 30px rgba(0,0,0,.1);
$boxshadow__large: 10px 10px 50px rgba(0,0,0,.1);

//font-family: 'Karla', sans-serif;


$font__headings: 'Sanchez', 'Helvetica', 'Arial', serif;
//$font__main: 'Circular Std', 'Helvetica', 'Arial', sans-serif;
$font__main: 'Circular Std', 'Karla', 'Helvetica', 'Arial', sans-serif;
$font__main--bold: 'Circular Bold', 'Circular Std', 'Karla', 'Helvetica', 'Arial', sans-serif;

//TRANSITIONS
@mixin fadeIn {
	animation: fadeIn 1s;
    -moz-animation: fadeIn 1s; /* Firefox */
    -webkit-animation: fadeIn 1s; /* Safari and Chrome */
    -o-animation: fadeIn 1s; /* Opera */
}

@mixin fadeInKeyframes {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

//FLEX
@mixin flex() {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
}

@mixin direction_column() {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin direction_row() {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

@mixin content_center() {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin content_between() {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@mixin content_end() {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@mixin wrap() {
	-webkit-box-flex: wrap;
	-ms-flex: wrap;
	flex-wrap: wrap;
}

@mixin items_center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}